<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presupuestos Tecla</title>
</head>
<body>
    <h1>Bienvenido a Presupuestos Tecla Sr. <%=usuario %></h1>
    
</body>
</html>